body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.988)
}
header {
    background-image: url(03.jpg);
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.nav-menu a {
    color: #ffffff;
    text-decoration:none ;
}

.nav-menu a:hover {
    color: #ffffff;
}

.profile {
    padding: 1px;
    text-align: center;
    font-size: 24px;
    display: block;
}

p{
    text-indent: 20px;
    opacity: 0.5;
}

/*Sayfanın en altındaki sabit metin*/
footer {
    background-image: url(03.jpg);
    opacity: 0.5;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
.nav-menu li {
    margin-right: 10px;
    position: relative;
    border-radius: 50%;
    border-bottom: 2px solid #ff0000;
    padding: 10px;
    background-color: #000000;
    display: block;
    margin-bottom: 10px;    
}

.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    font-size: 13px;
    top: 100%;
    padding: 5px;
    background-color: #363434;
    opacity: 1;
}

.nav-menu li:hover > .sub-menu {
    display: block;
}

.sub-menu li {
    display: block;
}

#telefon{
    margin-bottom: 100px;
}
.resim1 {
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
}
.profile-text{
    display: block;
}
.fab {
    padding: 8px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    }
.fab:hover {
    opacity: 0.6;
    }
.fa-facebook-f {
    color: rgb(255, 0, 0);
    }
.fa-twitter {
    color: rgb(255, 0, 0);
    }
.fa-google {
    color: rgb(255, 0, 0);
}
.fa-linkedin {
    color: rgb(255, 0, 0);
    }
.fa-youtube {
    color: rgb(255, 0, 0);
    }
.fa-instagram {
    color: rgb(255, 0, 0);
    }
.fas{
    margin-left: 10px;
}
@media only screen and (max-width: 480px) {
    /* Bu blok, 480 piksel genişliğe kadar olan cihazlar içindir */
    header {
        padding: 10px;
    }

    .resim1 {
        width: 150px;
        height: 150px;
    }

    .profile {
        padding: 50px;
        font-size: 24px;
    }

    .nav-menu li {
        padding: 10px;
    }

    .sub-menu {
        font-size: 10px;
    }

    footer {
        padding: 5px 0;
    }
}

/* yagmur efekti eklemek ile ilgili tüm veriler*/
.rain {
    position: absolute;
    width: 16px;
    height: 24px;
    border-radius: 20%;
    padding: 2px;    
    color: green;
    animation: rainAnimation linear infinite; /* Animasyonu uygula */
  }

  @keyframes rainAnimation {
    to {
      transform: translateY(100vh); /* Yağmur damlasını aşağıya kaydır */
    }
  }
  .rain:nth-child(1) {
    left: 5%;
    animation-duration: 1s; /* İkinci damla daha yavaş */
  }
  .rain:nth-child(2) {
    left: 10%;
    animation-duration: 5s; /* İkinci damla daha yavaş */
  }

  .rain:nth-child(3) {
    left: 15%;
    animation-duration: 6s; /* Üçüncü damla daha hızlı */
  }

  /* İhtiyacınıza göre daha fazla yağmur damlası ekleyebilirsiniz */
  .rain:nth-child(4) {
    left: 20%;
    animation-duration: 3s;
  }

  .rain:nth-child(5) {
    left: 25%;
    animation-duration: 2s;
  }

  .rain:nth-child(6) {
    left: 30%;
    animation-duration: 4s;
  }
  .rain:nth-child(7) {
    left: 40%;
    animation-duration: 5s; /* İkinci damla daha yavaş */
  }

  .rain:nth-child(8) {
    left: 55%;
    animation-duration: 1s; /* Üçüncü damla daha hızlı */
  }

  /* İhtiyacınıza göre daha fazla yağmur damlası ekleyebilirsiniz */
  .rain:nth-child(9) {
    left: 50%;
    animation-duration: 3s;
  }

  .rain:nth-child(10) {
    left: 60%;
    animation-duration: 5s;
  }

  .rain:nth-child(11) {
    left: 65%;
    animation-duration: 3s;
  }
  .rain:nth-child(12) {
    left: 70%;
    animation-duration: 7s;
  }
  .rain:nth-child(14) {
    left: 75%;
    animation-duration: 2s; /* İkinci damla daha yavaş */
  }

  .rain:nth-child(13) {
    left: 85%;
    animation-duration: 6s; /* Üçüncü damla daha hızlı */
  }

  /* İhtiyacınıza göre daha fazla yağmur damlası ekleyebilirsiniz */
  .rain:nth-child(15) {
    left: 80%;
    animation-duration: 5s;
  }

  .rain:nth-child(16) {
    left: 95%;
    animation-duration: 2s;
  }

  .rain:nth-child(22) {
    left: 100%;
    animation-duration: 4s;
  }
  .rain:nth-child(17) {
    left: 90%;
    animation-duration: 5s; /* İkinci damla daha yavaş */
  }

  .rain:nth-child(18) {
    left: 12%;
    animation-duration: 7s; /* Üçüncü damla daha hızlı */
  }

  /* İhtiyacınıza göre daha fazla yağmur damlası ekleyebilirsiniz */
  .rain:nth-child(19) {
    left: 78%;
    animation-duration: 5s;
  }

  .rain:nth-child(20) {
    left: 51%;
    animation-duration: 3s;
  }

  .rain:nth-child(21) {
    left: 83%;
    animation-duration: 4s;
  }
  .rain:nth-child(23) {
    left: 93%;
    animation-duration: 6s;
  }
/*Hocam burayı okur musunuz bilmiyorum ama ilk basta mavi rekte yagmur efekti yaptım o yuzden adları boyle sınavlar var diye değiştiremedim*/